{{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn-ajouter-forum form-control mx-5 my-3 btn fw-bold">{{ button_label|default('Ajouter le forum') }}</button>

{{ form_end(form) }}
