{% extends 'base.html.twig' %}

{% block title %}Nouvelle critique{% endblock %}

{% block body %}
    <h1>Create new Critique</h1>

    {{ include('admin_critique/_form.html.twig') }}

    <a href="{{ path('app_admin_critique_index') }}">back to list</a>
{% endblock %}
