{% extends 'base.html.twig' %}

{% block title %}Hello CreationController!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">Suivant</button>
{{ form_end(form) }}
{% endblock %}
