body{
    background-color: rgba(178, 196, 171);
}

.input{
    background-color: rgba(217, 217, 217);
}

.btn-ajouter-artiste{
    background-color: rgba(44, 47, 62);
    color: white;
}

.h1-ajouter-artiste{
    background-color: rgba(217, 217, 217);
}

.div-retour-liste-articles{
    background-color: rgba(44, 47, 62);
    width: 225px;
}
