{% extends 'base.html.twig' %}

{% block title %}New RoleArtisteFilm{% endblock %}

{% block body %}
    <h1>Create new RoleArtisteFilm</h1>

    {{ include('role_artiste_film/_form.html.twig') }}

    <a href="{{ path('app_role_artiste_film_index') }}">back to list</a>
{% endblock %}
