<form method="post" action="{{ path('app_bandes_annonces_teasers_delete', {'id': bandes_annonces_teaser.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bandes_annonces_teaser.id) }}">
    <button class="btn">Delete</button>
</form>
