{% extends 'base.html.twig' %}

{% block title %}Nouvelle ville
{% endblock %}

{% block body %}

	<div class="h1-ajouter-ville rounded text-center mx-5 my-3">
		<h1>Ajouter une ville</h1>
	</div>

	<div class="div-retour-liste-villes mx-5 my-3 rounded text-center">
		<a href="{{ path('app_admin_ville_index') }}" class="text-decoration-none text-white fw-bold">Retour à la liste des villes</a>
	</div>

	{{ include('admin_ville/_form.html.twig') }}

{% endblock %}
