{% extends 'base.html.twig' %}

{% block title %}Nouvel éditeur{% endblock %}

{% block body %}
    <h1>Create new Editeur</h1>

    {{ include('admin_editeur/_form.html.twig') }}

    <a href="{{ path('app_admin_editeur_index') }}">back to list</a>
{% endblock %}
