{% extends 'base.html.twig' %}

{% block title %}Nouvel artiste{% endblock %}

{% block body %}

    <div class="h1-ajouter-artiste rounded text-center mx-5 my-3"><h1>Ajouter un artiste</h1></div>

    <div class="div-retour-liste-artistes mx-5 my-3 rounded text-center"><a href="{{ path('app_admin_artiste_index') }}" class="text-decoration-none text-white fw-bold">Retour à la liste des artistes</a></div>

    {{ include('admin_artiste/_form.html.twig') }}

{% endblock %}
