{% extends 'base.html.twig' %}

{% block title %}Hello FrontUserController!
{% endblock %}

{% block body %}

	<div>

		{% for message in app.flashes('error') %}

			{{message}}

		{% endfor %}

	</div>

	<h1>Modification de votre mot de passe</h1>

	<form method="post">
		<div>
			<label for="pass">Mot de passe</label>
			<input type="password" id="pass" name="pass" class="form-control">
		</div>

		<div>
			<label for="pass2">Confirmer le mot de passe</label>
			<input type="password" id="pass2" name="pass2" class="form-control">
		</div>

		<button>Valider</button>
	</form>

{% endblock %}
