{% extends 'base.html.twig' %}

{% block title %}Edit ConditionsGeneralesUtilisation{% endblock %}

{% block body %}
    <h1>Edit ConditionsGeneralesUtilisation</h1>

    {{ include('admin_conditions_generales_utilisation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_conditions_generales_utilisation_index') }}">back to list</a>

    {{ include('admin_conditions_generales_utilisation/_delete_form.html.twig') }}
{% endblock %}
